$barcolor:#e0d4be;


body {
    background-color:#494949;
}
.container{
    margin-top:20px;
}
nav{
    background-color:$barcolor;
    margin:0px !important;
}
li{
    margin-left:75px;
    display:inline;
}
ul{
    margin: 0px 0px 0px 195px;   
}
a, a:hover, a:after, a:active{
    color:black;
    text-decoration:none;
}
hr{
    margin:5px 0px 5px 0px !important;
}
footer{
    background-color:$barcolor;
}
.footertextholder{
    margin-left:30px;
}